/* * {
  border: 1px solid blue;
} */
.all-products-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.failure-view-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .failure-view-container {
    margin: auto;
  }
}

.failure-img {
  width: 45%;
  margin-top: 80px;
}

.failure-heading {
  color: #12022f;
  font-size: 20px;
  font-family: 'Roboto';
}
.failure-description {
  font-family: 'Roboto';
  color: #64748b;
  font-size: 15px;
  margin-top: 0px;
  text-align: center;
}
.no-products-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .no-products-container {
    margin: auto;
  }
}

.no-products-img {
  width: 50%;
  margin-top: 80px;
}
.no-products-heading {
  color: #12022f;
  font-size: 20px;
  font-family: 'Roboto';
}
.no-products-description {
  font-family: 'Roboto';
  color: #64748b;
  font-size: 15px;
  margin-top: 0px;
  text-align: center;
}
